* {
  font-family: Menlo, Monaco, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

html,body {
  overflow: hidden;
}

body {
  padding: 10px;
}

.white {
  color: #ffffff!important;
}

h1 {
  z-index: 1;
}

a:visited {
  color: blue;
}

#label {
  position: absolute;
  bottom: 12px;
  left: 142px;
  line-height: 2.5;
}

canvas {
  z-index: -1;
}
